<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00000000-aaaa-1111-cccc-000000000002" Alias="navigationComposition" Level="1">
  <Info>
    <Name>Navigation</Name>
    <Icon color="color-grey">icon-navigation</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Controls visibility in primary navigation.</Description>
    <Variations>Nothing</Variations>
    <Folder>Compositions</Folder>
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>00000000-aaaa-1111-cccc-000200000001</Key>
      <Name>Show in navigation</Name>
      <Alias>showInNavigation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Tab>Navigation</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>00000000-aaaa-1111-cccc-000210000001</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Group</Type>
      <SortOrder>110</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
