<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aaaa1111-bbbb-cccc-dddd-000000000005" Alias="OHC.TabPanelsBlockList" Level="1">
  <Info>
    <Name>OHC - Tab Panels Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>OpenHeavensChurch</Folder>
  </Info>
  <Config>{
    "blocks": [
      { "contentElementTypeKey": "00000000-cccc-1111-0000-000000000006", "label": "Tab Panel" }
    ]
  }</Config>
</DataType>
