<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00000000-bbbb-1111-0000-00000000000b" Alias="accordionBlock" Level="1">
  <Info>
    <Name>Accordion</Name>
    <Icon color="color-grey">icon-tab</Icon>
    <IsElement>true</IsElement>
    <Variations>Nothing</Variations>
    <Folder>Blocks/Grid</Folder>
  </Info>
  <GenericProperties>
    <GenericProperty><Key>00000000-bbbb-1111-000b-000000000001</Key><Name>Heading</Name><Alias>heading</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Tab>Content</Tab></GenericProperty>
    <GenericProperty><Key>00000000-bbbb-1111-000b-000000000002</Key><Name>Panels</Name><Alias>panels</Alias><Definition>aaaa1111-bbbb-cccc-dddd-000000000004</Definition><Type>Umbraco.BlockList</Type><Tab>Content</Tab></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>00000000-bbbb-1111-00b0-000000000001</Key><Caption>Content</Caption><Alias>content</Alias><Type>Group</Type><SortOrder>10</SortOrder></Tab></Tabs>
</ContentType>
