<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00000000-bbbb-1111-0000-00000000000a" Alias="columnsBlock" Level="1">
  <Info>
    <Name>Columns</Name>
    <Icon color="color-grey">icon-application-window-alt</Icon>
    <IsElement>true</IsElement>
    <Variations>Nothing</Variations>
    <Folder>Blocks/Grid</Folder>
    <Description>Container block. Each grid Area becomes a column and can host any other grid block (including additional Columns blocks).</Description>
  </Info>
  <GenericProperties>
    <GenericProperty><Key>00000000-bbbb-1111-000a-000000000001</Key><Name>Heading</Name><Alias>heading</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Tab>Content</Tab></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>00000000-bbbb-1111-00a0-000000000001</Key><Caption>Content</Caption><Alias>content</Alias><Type>Group</Type><SortOrder>10</SortOrder></Tab></Tabs>
</ContentType>
