<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00000000-bbbb-1111-0000-000000000009" Alias="videoEmbedBlock" Level="1">
  <Info>
    <Name>Video Embed</Name>
    <Icon color="color-pink">icon-video</Icon>
    <IsElement>true</IsElement>
    <Variations>Nothing</Variations>
    <Folder>Blocks/Grid</Folder>
  </Info>
  <GenericProperties>
    <GenericProperty><Key>00000000-bbbb-1111-0009-000000000001</Key><Name>Video URL</Name><Alias>videoUrl</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>true</Mandatory><Tab>Content</Tab></GenericProperty>
    <GenericProperty><Key>00000000-bbbb-1111-0009-000000000002</Key><Name>Caption</Name><Alias>caption</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Tab>Content</Tab></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>00000000-bbbb-1111-0090-000000000001</Key><Caption>Content</Caption><Alias>content</Alias><Type>Group</Type><SortOrder>10</SortOrder></Tab></Tabs>
</ContentType>
