<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00000000-bbbb-1111-0000-00000000000e" Alias="youTubeFeedBlock" Level="1">
  <Info>
    <Name>YouTube Feed</Name>
    <Icon color="color-pink">icon-video</Icon>
    <IsElement>true</IsElement>
    <Variations>Nothing</Variations>
    <Folder>Blocks/Grid</Folder>
  </Info>
  <GenericProperties>
    <GenericProperty><Key>00000000-bbbb-1111-000e-000000000001</Key><Name>Heading</Name><Alias>heading</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Tab>Content</Tab></GenericProperty>
    <GenericProperty><Key>00000000-bbbb-1111-000e-000000000002</Key><Name>Max results</Name><Alias>maxResults</Alias><Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition><Type>Umbraco.Integer</Type><Tab>Content</Tab></GenericProperty>
    <GenericProperty><Key>00000000-bbbb-1111-000e-000000000003</Key><Name>Channel id override</Name><Alias>channelIdOverride</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Tab>Content</Tab></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>00000000-bbbb-1111-00e0-000000000001</Key><Caption>Content</Caption><Alias>content</Alias><Type>Group</Type><SortOrder>10</SortOrder></Tab></Tabs>
</ContentType>
