<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00000000-cccc-1111-0000-000000000003" Alias="buttonGroupBlock" Level="1">
  <Info>
    <Name>Button Group</Name>
    <Icon color="color-yellow">icon-link</Icon>
    <IsElement>true</IsElement>
    <Variations>Nothing</Variations>
    <Folder>Blocks/List</Folder>
  </Info>
  <GenericProperties>
    <GenericProperty><Key>00000000-cccc-1111-0003-000000000001</Key><Name>Buttons</Name><Alias>buttons</Alias><Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition><Type>Umbraco.MultiUrlPicker</Type><Tab>Content</Tab></GenericProperty>
    <GenericProperty><Key>00000000-cccc-1111-0003-000000000002</Key><Name>Alignment</Name><Alias>alignment</Alias><Definition>aaaa1111-bbbb-cccc-eeee-000000000002</Definition><Type>Umbraco.DropDown.Flexible</Type><Tab>Content</Tab></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>00000000-cccc-1111-0030-000000000001</Key><Caption>Content</Caption><Alias>content</Alias><Type>Group</Type><SortOrder>10</SortOrder></Tab></Tabs>
</ContentType>
