<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00000000-cccc-1111-0000-000000000007" Alias="footerColumnBlock" Level="1">
  <Info>
    <Name>Footer Column</Name>
    <Icon color="color-grey">icon-list</Icon>
    <IsElement>true</IsElement>
    <Variations>Nothing</Variations>
    <Folder>Blocks/List</Folder>
  </Info>
  <GenericProperties>
    <GenericProperty><Key>00000000-cccc-1111-0007-000000000001</Key><Name>Heading</Name><Alias>heading</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Tab>Content</Tab></GenericProperty>
    <GenericProperty><Key>00000000-cccc-1111-0007-000000000002</Key><Name>Links</Name><Alias>links</Alias><Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition><Type>Umbraco.MultiUrlPicker</Type><Tab>Content</Tab></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>00000000-cccc-1111-0070-000000000001</Key><Caption>Content</Caption><Alias>content</Alias><Type>Group</Type><SortOrder>10</SortOrder></Tab></Tabs>
</ContentType>
