<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00000000-cccc-1111-0000-000000000001" Alias="richTextBlock" Level="1">
  <Info>
    <Name>Rich Text (inner)</Name>
    <Icon color="color-grey">icon-document</Icon>
    <IsElement>true</IsElement>
    <Variations>Nothing</Variations>
    <Folder>Blocks/List</Folder>
  </Info>
  <GenericProperties>
    <GenericProperty><Key>00000000-cccc-1111-0001-000000000001</Key><Name>Body</Name><Alias>body</Alias><Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition><Type>Umbraco.TinyMCE</Type><Tab>Content</Tab></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>00000000-cccc-1111-0010-000000000001</Key><Caption>Content</Caption><Alias>content</Alias><Type>Group</Type><SortOrder>10</SortOrder></Tab></Tabs>
</ContentType>
