<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00000000-cccc-1111-0000-000000000004" Alias="serviceTimeBlock" Level="1">
  <Info>
    <Name>Service Time</Name>
    <Icon color="color-blue">icon-clock</Icon>
    <IsElement>true</IsElement>
    <Variations>Nothing</Variations>
    <Folder>Blocks/List</Folder>
    <Description>A single service time row used inside a Service Times block.</Description>
  </Info>
  <GenericProperties>
    <GenericProperty><Key>00000000-cccc-1111-0004-000000000001</Key><Name>Name</Name><Alias>name</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>true</Mandatory><Tab>Content</Tab></GenericProperty>
    <GenericProperty><Key>00000000-cccc-1111-0004-000000000002</Key><Name>Day</Name><Alias>day</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Tab>Content</Tab></GenericProperty>
    <GenericProperty><Key>00000000-cccc-1111-0004-000000000003</Key><Name>Time</Name><Alias>time</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Tab>Content</Tab></GenericProperty>
    <GenericProperty><Key>00000000-cccc-1111-0004-000000000004</Key><Name>Location</Name><Alias>location</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Tab>Content</Tab></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>00000000-cccc-1111-0040-000000000001</Key><Caption>Content</Caption><Alias>content</Alias><Type>Group</Type><SortOrder>10</SortOrder></Tab></Tabs>
</ContentType>
