<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00000000-cccc-1111-0000-000000000006" Alias="tabPanelBlock" Level="1">
  <Info>
    <Name>Tab Panel</Name>
    <Icon color="color-grey">icon-tab</Icon>
    <IsElement>true</IsElement>
    <Variations>Nothing</Variations>
    <Folder>Blocks/List</Folder>
  </Info>
  <GenericProperties>
    <GenericProperty><Key>00000000-cccc-1111-0006-000000000001</Key><Name>Label</Name><Alias>label</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>true</Mandatory><Tab>Content</Tab></GenericProperty>
    <GenericProperty><Key>00000000-cccc-1111-0006-000000000002</Key><Name>Content</Name><Alias>content</Alias><Definition>aaaa1111-bbbb-cccc-dddd-000000000001</Definition><Type>Umbraco.BlockList</Type><Tab>Content</Tab></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>00000000-cccc-1111-0060-000000000001</Key><Caption>Content</Caption><Alias>content</Alias><Type>Group</Type><SortOrder>10</SortOrder></Tab></Tabs>
</ContentType>
